<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="book">

	<insert id="insertBook" statementType="PREPARED" 
			parameterType="gahee.spring.vo.Book" >
			insert into books
			values (#{bookid},#{bookname},#{publisher},#{price})
	</insert>
	
	<select id="selectBook" statementType="PREPARED"
			resultType="gahee.spring.vo.Book" >
			select bookid, bookname from books 
			order by bookid desc
	</select>
	
	<select id="selectOneBook" statementType="PREPARED"
			parameterType="String"
			resultType="gahee.spring.vo.Book" >
			select * from books
			where bookid = #{bookid}
	</select>
	
	<update id="updateBook" statementType="PREPARED" 
			parameterType="gahee.spring.vo.Book">
			update books 
			set bookname= #{bookname}, publisher= #{publisher}, 
				price = #{price}
			where bookid = #{bookid}
	</update>
	
	<delete id="deleteBook" statementType="PREPARED"
			parameterType="String">
			delete from books where bookid =#{bookid} 
	</delete>

</mapper>