<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<insert id="insertMember" statementType="PREPARED" 
			parameterType="gahee.spring.vo.Member" >
			insert into member (userid,passwd,name,email)
			values (#{userid}, #{passwd}, #{name}, #{email})
	</insert>
	
	<select id="selectMember" statementType="PREPARED" 
			resultType="gahee.spring.vo.Member">
			select mno,userid,name, substring(joindate,1,10) joindate from member
			order by mno desc
	</select>
	
	<select id="selectOneMember" statementType="PREPARED" 
			parameterType="Integer"
			resultType="gahee.spring.vo.Member">
			select mno,userid,name,email,joindate
			from member where mno = #{mno}
	</select>
	<update id="updateMember" statementType="PREPARED" 
			parameterType="gahee.spring.vo.Member">
			update member set passwd =#{passwd}, name = #{name}, email = #{email}
			where mno = #{mno}
	</update>
	<delete id="deleteMember" statementType="PREPARED" 
			parameterType="Integer">
			delete from member where mno = #{mno}
	</delete>

</mapper>